<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="styles/styles.css">
    <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous" defer></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" defer></script>
    <script src="scripts/app.js" defer></script>
    
    <title>Pyrrha</title>

</head>
<body id="aboutBody">
    <nav id="mainNav">
        <div id="navUser">
            <img id="logo" src="/images/records.jpeg" width="40" height="40" class="d-inline-block align-top" alt="">
            <h3 id="message"></h3>
        </div>
        <div id="navButtons">
            <button id="mainSearch">Search</button>
            <button id="logOut">Log Out</button>
        </div>
    </nav>

<main>
    <div id="aboutDiv">
        <h1>P Y R R H A</h1>
        <h3>Music Finder</h3>
        <h5>How It Works</h5>
        <div>
            <p>Pyrrha was born out of a fiery passion to discover new music. Other apps promise to deliver a contant supply of previously unheard of songs, but ultimately just play you the same batch over and over. With Pyrrha, you are in complete control of what new artists and songs you hear.</p>
            <p>You can either search for similar artists, or songs that match a particular artist's sound. Just enter an artist in either search bar to receive a list of suggestions. From there, you can make a selection to receive more information and a link to music, then save what you like to explore further at your leisure. Have fun discovering!</p>
        </div>
    </div>

</main>

    <footer>
        <p>Pyrrha &copy 2018</p>
        <a href="#" id="about">About</a>
    </footer>
</body>
</html>