<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="styles/styles.css">
    <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous" defer></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" defer></script>
    <script src="scripts/app.js" defer></script>
    
    <title>Pyrrha</title>

</head>
<body id="mainBody">
    <nav id="mainNav">
        <div id="navUser">
            <img id="logo" src="/images/records.jpeg" width="40" height="40" class="d-inline-block align-top" alt="">
            <h3 id="message"></h3>
        </div>
        <h1 id="navPyrrha">P Y R R H A</h1>
        <div id="navButtons">
            <button id="profile">Profile</button>
            <button id="logOut">Log Out</button>
        </div>
    </nav>


<main id="mainMain">

<!-- artist modal -->
    <!-- <div class="modal fade" id="artistModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="artistModalHeader"></h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class="modal-body">
                <div id="artistModalBody"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="artistAdd" data-dismiss="modal">Add Artist</button>
            </div>
        </div>
        </div>
    </div> -->

<!-- song modal -->
    <div class="modal fade" id="songModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="songModalHeader"></h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class="modal-body">
                <div id="songModalBody"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="songAdd" data-dismiss="modal">Add Song to Playlist</button>
            </div>
        </div>
        </div>
    </div>
    <!-- <div class="savedDiv">
        <div id="artistsDiv">
            Saved Artists
            <ul id="savedArtists"></ul>
        </div>
    </div>     -->
    <div id="mainDiv">
        <div id="searchDiv">
            <!-- <div id="searchArtist" class="search">
                <input id="artistSearch" type="search" placeholder="Type an Artist for Similar Artists" name="search">
                <i id="artistSearchIcon" class="fas fa-search"></i>
            </div> -->
            <div id="searchSong" class="search">
                <input id="songSearch" type="search" placeholder="Type an Artist for Similar Songs" name="search">
                <i id="songSearchIcon" class="fas fa-search"></i>
            </div>
            <div class="resultsDiv"></div>
        </div>

        <div class="savedDiv">
            <div id="songsDiv">
                Current Playlist
                <ul id="savedSongs"></ul>
            </div>
        </div>
    </div>

</main>


    <footer>
        <p>Pyrrha &copy 2018</p>
        <a href="#" id="about">About</a>
    </footer>
</body>
</html>