body, #mainBody, #profileBody, #aboutBody {
    display: flex;
    flex-direction: column;
    margin: 2% auto;
    /* background-color: #CCCCCC; */
    width: 95vw;
    height: 95vh;
    font-size: 1.2rem;
}

body {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(100, 100, 100, 0.25)), url("../images/abandoned.jpg");
    background-size: cover;
}

#welcome {
    margin: auto;
    display: flex;
    flex-direction: column;
    width: 50vw;
    align-items: center;
    background-color: #FFFFFF;
    opacity: .4;
    border-radius: 5px;
}

#mainBody {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(100, 100, 100, 0.25)), url("../images/main.jpg");
    background-size: cover;
}

#profileBody {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(100, 100, 100, 0.25)), url("../images/vinyl.jpg");
    background-size: cover;
}

#aboutBody {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(100, 100, 100, 0.25)), url("../images/headphones.jpg");
    background-size: cover;  
}

#indexNav, #mainNav, #aboutNav {
    padding: 2%;
    background-color: #DDDDDD;
    /* opacity: .2; */
    display: flex;
    justify-content: space-between;
    /* box-shadow: 1px 1px rgba(0,0,0,.5); */
    border-radius: 5px;
    width: 85vw;
    margin: auto;
}

#logo {
    margin: 0 2%;
    border: none;
}

#navButtons {
    display: flex;
    flex-direction: row;
}

#mainNav > #navButtons {
    width: 25%;
}

#welcome > #navButtons {
    margin-bottom: 3%;
}

#navUser {
    display: flex;
    flex-direction: row;
    width: 50%;
}

#demoLogin, #signUp, #logInButton, #profile, #logOut, #mainSearch, .artistButton {
    margin: 0 2%;
    border: none;
    background-color: transparent;
    /* padding: 1%; */
}

.artistButton {
    color: #DDDDDD;
    font-weight: bold;
}

#artistModalHeader {
    margin: auto;
}

#demoLogin, #signUp:hover, #logInButton:hover, #profile, #logOut, #mainSearch, .artistButton, .fas:hover, .artistButton:hover {
    cursor: pointer;
}

main {
    justify-content: center;
    height: 100vh;
    margin: auto;
    display: flex;
    flex-direction: column;
    text-align: center;
}

#mainMain {
    justify-content: center;
    height: 100vh;
    margin: auto;
    display: flex;
    flex-direction: row;
    text-align: center;
    width: 100vw;
}

.search {
    /* display: inline-flex; */
    /* justify-content: space-between; */
    width: 31vw;
    margin: 5%;
}

#searchDiv {
    display: flex;
    flex-direction: column;
    /* width: 50vw; */
    align-items: center;
}

h1 {
    color: #DDDDDD;
    margin: 10% 0;
}

#welcome > h1, #aboutDiv > h1 {
    color: #000000;
    margin: 5% 0;
}

h5 {
    color: #000000;
}

#songSearch, #artistSearch {
    /* border: 1px solid; */
    padding: 0 2%;
    font-size: .9rem;
    width: 77%;
}

.fas {
    color: #DDDDDD;
    margin: auto 7%;
}

.savedDiv {
    padding: 1%;
    background-color: #DDDDDD;
    opacity: .4;
    display: flex;
    justify-content: center;
    border-radius: 5px;
    width: 30vw;
    height: 75%;
    margin: auto 5%;
    overflow-y: auto;
}

.resultsDiv {
    color: #DDDDDD;
    width: 31vw;
    margin: 2% auto;
    overflow-y: auto;
    background: transparent;
    display: none;
    flex-flow: column wrap;
    justify-content: center;
}

#artistsDiv, #songsDiv {
    width: 100%;
}

#savedArtists, #savedSongs {
    list-style-type: none;
    margin: auto;
    padding-left: 0;
    font-size: .8rem;
}

#songsDiv * a, #savedArtists * a {
    padding: 2%;
    background-color: #DDDDDD;
    display: inline-block;
    justify-content: center;
    color: #000000;
    text-decoration: none;
    font-size: 1rem;
    font-weight: bold;
}

#songsDiv * a:hover, #savedArtists * a:hover {
    font-size: 1.2rem;
}

#savedArtists * p:hover {
    cursor: pointer;
}

#aboutDiv {
    margin: auto;
    display: flex;
    flex-direction: column;
    width: 70%;
    height: 60%;
    align-items: center;
    background-color: #FFFFFF;
    opacity: .6;
    border-radius: 5px;
    overflow-y: auto;
    padding: 2%;
}

footer {
    padding: 1%;
    background-color: #DDDDDD;
    /* opacity: .2; */
    display: flex;
    justify-content: space-around;
    box-shadow: 1px 1px rgba(0,0,0,.5);
    border-radius: 5px;
    width: 75vw;
    margin: auto;
}

a {
    text-decoration: none;
    color: #DDDDDD;
}

a:hover {
    text-decoration: underline;
    color: #DDDDDD;
}


#about {
    color: #000000;
}

#message {
    align-self: flex-start;
    color: #000000;
}

.error-message {
    font-size: 1em;
    color: #ff0000;
    display: none;
    background: linear-gradient(rgba(250, 250, 250, 0), rgba(250, 250, 250, 0.9), rgba(250, 250, 250, 0));
    height: 5%;
    flex-direction: column;
    justify-content: center;
}

.alert {
    display: none;
}

@media screen and (max-width: 650px) {
    #aboutDiv * p {
        font-size: .75;
    }
}