body, #mainBody, #profileBody, #aboutBody {
    display: flex;
    flex-direction: column;
    margin: 2% auto;
    /* background-color: #CCCCCC; */
    width: 95vw;
    height: 95vh;
    font-size: 1.2rem;
}

body {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(100, 100, 100, 0.25)), url("../images/abandoned.jpg");
    background-size: cover;
}

#mainBody {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(100, 100, 100, 0.25)), url("../images/main.jpg");
    background-size: cover;
}

#profileBody {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(100, 100, 100, 0.25)), url("../images/vinyl.jpg");
    background-size: cover;
}

#aboutBody {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(100, 100, 100, 0.25)), url("../images/headphones.jpg");
    background-size: cover;  
}

#indexNav, #mainNav {
    padding: 2%;
    background-color: #DDDDDD;
    /* opacity: .2; */
    display: flex;
    justify-content: space-between;
    /* box-shadow: 1px 1px rgba(0,0,0,.5); */
    border-radius: 5px;
    width: 85vw;
    margin: auto;
}

/* #mainNav {
    padding: 1%;
    background-color: #DDDDDD;
    opacity: .2;
    display: flex;
    justify-content: space-between;
    box-shadow: 1px 1px rgba(0,0,0,.5);
    border-radius: 5px;
    width: 85vw;
    margin: auto;
} */

#logo {
    margin: 0 2%;
    border: none;
}

#navButtons {
    display: flex;
    flex-direction: row;
    width: 25%;
}

#navUser {
    display: flex;
    flex-direction: row;
    width: 50%;
}

#signUp, #logInButton, #profile, #logOut, #mainSearch, .artistButton {
    margin: 0 2%;
    border: none;
    background-color: transparent;
    /* padding: 1%; */
}

.artistButton {
    color: #DDDDDD;
    font-style: italic;
}


#artistModalHeader {
    margin: auto;
}

#signUp:hover, #logInButton:hover, #profile, #logOut, #mainSearch, .artistButton {
    cursor: pointer;
}

main {
    justify-content: center;
    height: 100vh;
    margin: auto;
    display: flex;
    flex-direction: column;
    text-align: center;
}

#mainMain {
    justify-content: center;
    height: 100vh;
    margin: auto;
    display: flex;
    flex-direction: row;
    text-align: center;
    width: 100vw;
}

.search {
    /* display: inline-flex; */
    /* justify-content: space-between; */
    width: 31vw;
    margin: 5%;
}

#searchDiv {
    display: flex;
    flex-direction: column;
    /* width: 50vw; */
    align-items: center;
}

h1 {
    color: #DDDDDD;
    margin: 10% 0;
}

h5 {
    color: #DDDDDD;

}

#songSearch, #artistSearch {
    /* border: 1px solid; */
    padding: 0 2%;
    font-size: .9rem
}

.fas {
    color: #DDDDDD;
    margin: auto 7%;
}

.fas:hover, .artistButton:hover {
    cursor: pointer;
}

.savedDiv {
    padding: 1%;
    background-color: #DDDDDD;
    opacity: .4;
    display: flex;
    justify-content: center;
    box-shadow: 1px 1px rgba(0,0,0,.5);
    border-radius: 5px;
    width: 30vw;
    height: 75%;
    margin: auto 5%;
    overflow-y: auto;
}

.resultsDiv {
    color: #DDDDDD;
    width: 31vw;
    margin: 2% auto;
    overflow-y: auto;
    background: transparent;
    display: none;
    flex-flow: column wrap;
    justify-content: center;
}

#artistsDiv, #songsDiv {
    width: 100%;

}

#savedArtists {
    list-style-type: none;
    margin: auto;
    padding-left: 0;
    
}

#songsDiv * a, #savedArtists * a {
    padding: 2%;
    background-color: #DDDDDD;
    display: flex;
    justify-content: center;
    color: #000000;
    text-decoration: none;
    font-size: 1rem;
    font-weight: bold;

}

footer {
    padding: 2%;
    background-color: #DDDDDD;
    /* opacity: .2; */
    display: flex;
    justify-content: center;
    box-shadow: 1px 1px rgba(0,0,0,.5);
    border-radius: 5px;
    width: 75vw;
    margin: auto;
}

a {
    text-decoration: none;
    color: #DDDDDD;
}

a:hover {
    text-decoration: underline;
    color: #DDDDDD;
}


#about {
    color: #000000;
}

#message {
    align-self: flex-start;
    color: #000000;
}